---
import { Image } from "astro:assets";
import ariannapesce from "@/assets/ariannapesce.webp";
import Button from "@/components/Button.astro";
---
<style>
    .hero {
    width: 100%;
           /* height: 90vh; */
    background-color: var(--bg-color);
    display: flex;

    .hero-text {
      color: var(--text-color);
     
      p {
        .different {
          color: var(--th-color);
          font-weight: bold;
        }
      }
      #cta {
        margin: 1rem 0;
      }
      
    }
  }

  @media screen and (max-width: 768px) {
    .hero{
      flex-direction: column-reverse;
      gap: -2rem;
      .hero-foto{ 
        width: 100%;
        float: right;
        border-bottom: 2px solid transparent;
        border-image-source: radial-gradient(
      circle,
      var(--fo-color) 0%,
      var(--bg-color) 98%
    );
    border-image-slice: 1;
       .tube{
         display: none; 
       }
        .foto-me{
           display: block;
        height: 50vh;
        width: auto;
        float: right;
        z-index: -10;
       margin: -5rem 0.5rem 0;
        }
       
      }
      .hero-text{
        margin: 1rem 2rem;
      }

    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    .hero {
      padding: 0 4rem;
    }
  }




   @media screen and (min-width: 768px) {
    .hero{
      padding-top: 2rem;
      .hero-foto {
      width: 49%;
      min-height: 100%;
      position: relative;
      .tube {
        background-color: var(--fo-color);
        height: 90%;
        width: 60%;
        position: absolute;
        right: 13%;
        bottom: 0%;
        border-radius: 50% 45% 5% 15%;
        
        
      }
      .foto-me {
        max-height: 525px;
        width: auto;
        float: left;
        position: absolute;
        bottom: 0;
        left: 60%;
        transform: translateX(-50%);
        filter: drop-shadow(-10px -2px 3px rgba(22, 22, 22, 0.5));
      }
    }
    }
     .hero-text {
      color: var(--text-color);
      width: 49%;
      height: 600px;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h1 {
        display: inline-block;
      }
     
      #cta {
        margin: 1rem 0;
      }
      
    }
    .hero-text * {
      
      width: 85%;
      
    }
  }

  @media screen and (min-width: 992px){
    .hero-text * {
      
      width: 60%;
      
    }
  }

</style>

<div class="hero">
    <div class="hero-foto">
      <div class="tube"></div>
      <Image
        transition:name="herome"
        class="foto-me"
        src={ariannapesce}
        alt="arianna pesce profile image"
      />
    </div>
    <div class="hero-text">
      <p>&#128075; Hi there! I'm</p>
      <h1>Arianna Pesce</h1>
      <p>
        A <span class="different">Front-End Developer</span> with a strong passion
        for UX/UI Design.
      </p>
      <br>
      <p> Have already a good idea for a project?</p>
      <p id="cta">Let's talk together! &#10024;</p>

      <a href="/contact" aria-label="Send me a message, go to the form"><Button text="Send a message" /></a>
    </div>
  </div>