---
import BaseLayouts from "@/layouts/BaseLayouts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/homepage/Hero.astro";
import SkillResume from "@/components/homepage/SkillResume.astro";
import AboutMeResume from "@/components/homepage/AboutMeResume.astro";

import FinalHome from "@/components/homepage/FinalHome.astro";



const title = "Arianna Pesce | Home";
const description =
  "Welcome to my personal portfolio website, know more about m and my works.";
---

<style lang="scss">
  /* 
  .deco{
    position: sticky;
    top:50px;
      left: 200px;
    height: 100px;
      width: 100px;
    .flor{
      height: 100px;
      width: 100px;
      position: absolute;
      

    }
  } */
  /* .scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  align-items: top;
}  */
  /* MAIN */

 
  
.space{ 
    margin: 0 1.5rem;
}
  main {
  

    .cv-sec {
     
      
      margin-top: 3rem;
      /* align-content: center; */
      color: var(--text-color);
      .num {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 0;
      }
      h2 {
        font-weight: 600;
        font-size: 3rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        /* :hover{
        text-decoration: underline;
        text-decoration-color: var(--fo-color);
      } */
      }
    }

    .autoShow {
      animation: text-appear both;
      animation-timeline: view();
      animation-range: entry 20% cover 100vh;
    }
  }

  @keyframes text-appear {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 481px){
    .space {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  main{
    .cv-sec{
      min-height: 80vh;
    }
  }
} 
</style>

<BaseLayouts title={title} description={description} >
  <Header />
  
  <main class="scroll-container" >
    <Hero class="scroll-section" />

    <!-- ///   ABOUTME    /// -->

    <section class="cv-sec autoShow space scroll-section">
      <p class="num">01 /</p>
      <h2>About Me</h2>
      <AboutMeResume />
    </section>

    <!-- ///   SKILLS    /// -->
    <section class="cv-sec autoShow space scroll-section">
      <p class="num">02 /</p>
      <h2>Skills</h2>
      <SkillResume />
      </section>

      <!-- ///   LATEST PROJECT    /// -->
      <section class="cv-sec autoShow space scroll-section">
        <p class="num">03 /</p>
        
        <FinalHome />
      </section>
   
   
    <Footer />
  </main>
</BaseLayouts>
