---
import BaseLayouts from "@/layouts/BaseLayouts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/homepage/Hero.astro";
import SkillResume from "@/components/homepage/SkillResume.astro";
import AboutMeResume from "@/components/homepage/AboutMeResume.astro";

import FinalHome from "@/components/homepage/FinalHome.astro";



const title = "Arianna Pesce | Home";
const description =
  "Welcome to my personal portfolio website, know more about m and my works.";
---

<style lang="scss">
  /* 
  .deco{
    position: sticky;
    top:50px;
      left: 200px;
    height: 100px;
      width: 100px;
    .flor{
      height: 100px;
      width: 100px;
      position: absolute;
      

    }
  } */
  /* .scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;

  display: flex;
  align-items: top;
}  */
  /* MAIN */

 
  
.space{ 
    margin: 0 1.5rem;
}
  main {
  

    .cv-sec {
     
      
      margin-top: 3rem;
      /* align-content: center; */
      color: var(--text-color);
      .num {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 0;
      }
      h2 {
        font-weight: 600;
        font-size: 3rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        /* :hover{
        text-decoration: underline;
        text-decoration-color: var(--fo-color);
      } */
      }
    }

    .autoShow {
      animation: text-appear both;
      animation-timeline: view();
      animation-range: entry 20% cover 100vh;
    }
  }

  @keyframes text-appear {
    from {
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 481px){
    .space {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  main{
    .cv-sec{
      min-height: 80vh;
    }
  }
} 
</style>

<BaseLayouts title={title} description={description} >
  <Header />
  
  <main class="scroll-container" >
    <!-- <div class="deco"><svg class="flor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 480"><path d="m404.1 185.3-54.7 18.2a57.4 57.4 0 0 1-27.1 2.4c5.1-7 12-13 20.9-17.5l51.5-25.8a57.7 57.7 0 1 0-77.4-77.4l-25.7 51.6a57.4 57.4 0 0 1-17.5 21 57.4 57.4 0 0 1 2.4-27.2l18.2-54.7a57.7 57.7 0 1 0-109.4 0l18.2 54.7a57.4 57.4 0 0 1 2.4 27.1 57.3 57.3 0 0 1-17.5-20.8l-25.8-51.6a57.7 57.7 0 1 0-77.4 77.4l51.6 25.7a57.4 57.4 0 0 1 21 17.5c-8.7 1.4-18 .7-27.2-2.4l-54.7-18.2a57.7 57.7 0 1 0 0 109.4l54.7-18.2a57.4 57.4 0 0 1 27.1-2.4 57.3 57.3 0 0 1-20.8 17.5l-51.6 25.8a57.7 57.7 0 1 0 77.4 77.4l25.7-51.6a57.4 57.4 0 0 1 17.5-21c1.4 8.7.7 18-2.4 27.2l-18.2 54.7a57.7 57.7 0 1 0 109.4 0l-18.2-54.7a57.4 57.4 0 0 1-2.4-27.1c7 5.1 13 12 17.5 20.9l25.8 51.5a57.7 57.7 0 1 0 77.4-77.4l-51.6-25.7a57.4 57.4 0 0 1-21-17.5c8.7-1.4 18-.7 27.2 2.4l54.7 18.2a57.7 57.7 0 1 0 0-109.4Z" fill="#808"></path></svg></div> -->

    <Hero class="scroll-section" />

    <!-- ///   ABOUTME    /// -->

    <section class="cv-sec autoShow space scroll-section">
      <p class="num">01 /</p>
      <h2>About Me</h2>
      <AboutMeResume />
    </section>

    <!-- ///   SKILLS    /// -->
    <section class="cv-sec autoShow space scroll-section">
      <p class="num">02 /</p>
      <h2>Skills</h2>
      <SkillResume />
      </section>

      <!-- ///   LATEST PROJECT    /// -->
      <section class="cv-sec autoShow space scroll-section">
        <p class="num">03 /</p>
        
        <FinalHome />
      </section>
      <!-- ///////////////////   COLLAB    ////////////////////////////// -->
   
    <Footer />
  </main>
</BaseLayouts>
