---
const {type= "button", text} = Astro.props
---
<style>
 button {
        margin-top: 0.8rem;
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        line-height: 20px;
        font-weight: 600;
        border-radius: 15px;
        padding: 13px 23px;
        border: 3px solid var(--th-color);
        transition:
          box-shadow 0.2s ease 0s,
          -ms-transform 0.1s ease 0s,
          -webkit-transform 0.1s ease 0s,
          transform 0.1s ease 0s;
        background: var(--th-color);
        color: var(--bg-color);}
        button:hover {
          color: var(--th-color);
          background: var(--bg-color);
          border-color: var(--th-color);
          
          box-shadow: 0 0 15px var(--th-color);
          -ms-transform: scale(1.05);
          
        }
      
</style>

<button type={type}>{text}</button>
