---
const { value = 2, icon = "🔴" } = Astro.props;
---

<custom-rating data-value={value} data-icon={icon}>
  <button>Hola</button>
</custom-rating>

<script>
  class CustomRating extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      let value = Number(this.dataset.value);
      let icon = this.dataset.icon;

      const updateButton = () => {
        button.textContent = icon?.repeat(value) + "⚫".repeat(5 - value);
      }
      updateButton();

      button?.addEventListener("click", () => {
        value = (value + 1) % 6;
        this.dataset.value = value;
        updateButton();
      });
    }

  }

  customElements.define("custom-rating", CustomRating);
</script>