---
import BaseLayouts from "@/layouts/BaseLayouts.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Project from "@/components/Project.astro";
import { Image } from "astro:assets";
import ariannapesce from "@/assets/ariannapesce.webp";

const title = "Arianna Pesce | Portfolio";
const description =
  "Welcome to my personal portfolio website, know more about m and my works.";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<style lang="scss">
  .hero {
    width: 100%;
    box-shadow: inset 0 -3em 1em -1em rgba(0, 0, 0, 0.8);
    .hero-container {
      position: relative;
      height: 100%;
      h1 {
        font-size: 3.7rem;
        width: 90%;
        transform: scaleY(2.2);
        color: var(--fo-color);
        text-align: center;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.904);
        z-index: -5;
        position: absolute;
        inset: 0;
        top: 40%;
      }
      .personal-foto {
        height: 450px;
        width: auto;
        position: absolute;
        margin: auto;
        bottom: 0;
        right: 53%;
        transform: translateX(50%);
        .foto-me {
          max-height: 450px;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .hero {
      min-height: 70vh;
    }
    .list-works {
      margin: 2rem 1rem;
    }
  }

  @media screen and (min-width: 481px) {
    .hero {
      min-height: 90vh;

      .hero-container {
        h1 {
          font-size: 4.5rem;

          position: absolute;

          inset: 0;

          top: 40%;
         
          
          text-align: center;

          letter-spacing: 7px;
        }
      }
    }

    .list-works {
      margin: 0 8rem;
    }
  }

  @media screen and (min-width: 800px) {
    .hero {
      .hero-container {
        h1 {
          font-size: 8rem;

          position: absolute;
          
          inset: 0;

          top: 35%;
        }
      }
    }
  }

  @media screen and (min-width: 1224px) {
    .hero {
      height: 90vh;

      .hero-container {
        h1 {
          font-size: 13rem;
          position: absolute;

          inset: 0;

          top: 25%;
        }
      }
    }
  }
</style>

<BaseLayouts title={title} description={description}>
  <Header />
  <main>
    <div class="hero">
      <div class="hero-container">
        <h1>PORT FOLIO</h1>
        <div class="personal-foto">
          <Image
            class="foto-me"
            src={ariannapesce}
            alt="arianna pesce"
            transition:name="herome"
          />
        </div>
      </div>
    </div>

    <div class="list-works">
      {projects.map((entry) => <Project project={entry} />)}
    </div>
  </main>

  <Footer />
</BaseLayouts>
